

/* header */

.main-header{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: white;
    font-family: 'Gen Jyuu Gothic', Regular;
    -webkit-text-stroke: #6B8EAE 0.3px;
}
.logo img{
    display: block;
    background-color: white;
}

/* checkbox */
.menu-switch{
    display: none;
}

@media screen and (max-width: 768px) {
    .hb{
        position: relative;
        display: block;
        width: 45px;
        height: 45px;
        border: rgba(0, 0, 0, 0.540) solid 3px;
        border-radius: 6px;
        background-color: transparent;
    }
    .hb .bar{
        display: block;
        width: 75%;
        height: 3px;
        position: relative;
        margin: 0% auto;
        
        background-color: #F5A623;
    }
    .bar1 {
        top: 12px;
    }
    .bar2 {
        top: 18px;
    }
    .bar3{
        top: 25px;
    }
    .main-menu{
        position: absolute;
        /* display: none; */
        top: 100%;
        left: -100%;
        background-color: #fff;
        width: 60%;
        height: calc(100svh - 60px);
        transition: left .6s;
    }
    .main-menu ul li ~ li{
        border-top: 1px solid #F5A623;
    }
    .main-menu ul li a{
        display: block;
        text-decoration: none;
        padding: 10px;
        font-size: 18px;
        color: #6B8EAE;
        background-color: white;
    }
    .main-header:has(.menu-switch:checked) .main-menu{
            left: 0px;
            z-index: 1;
    }
}
@media screen and (width >= 768px) {
    .main-menu > ul{
        display: flex;
        list-style: none;
    }
    .main-menu a{
        color: #6B8EAE;
        text-decoration: none;
        display: block;
        padding: 10px 1em;
        background-color: white;
    }
}

/*圖片*/
img {
  max-width: 100%;
  height: auto;
}

/*按鈕*/
button {
  color: #fff;
  background-color: #6B8EAE;
  border: none;
  text-align: center;
  padding: 9px 6em;
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 9px;
}
button:hover {
  color: black;
  background-color: #F5A623;
  
}

a {
    text-decoration: none;
}
a:link {
    color: #F5A623;
}

a:hover {
    color: #564032; 
}

a:active {
    color: #564032;
}
a:visited {
    color: #F5A623;
}
/*第一幕按鈕*/
.banner button {
  color: #fff;
  border: #F2A8A5 solid 3px;
  background-color: #F2A8A5;
  text-align: center;
  padding: 9px 3em;
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 9px;
  margin: 0% 20px;
}
.banner button:hover {
  color: #03045E;
  background-color: #F5A623;
  border: #F5A623 solid 3px;
}
@font-face {
  font-family: 'SentyVanilla';
  src: 
         url('./SentyVanilla.ttf') format("truetype"),
        }

/*標題&文字設定*/
h1{
  margin: 40px auto;
  padding: 30px;
  color: #F5A623;
  font-size: 64px;
  text-align: center;
  line-height: 1.5;
  font-family: 'SentyVanilla', regular;
}
h2 {
  margin: auto;
  padding: 30px;
  color: #564032;
  font-size: 48px;
  text-align: center;
  line-height: 1;
  font-family: 'SentyVanilla', regular;
}

h3 {
  padding: 10px;
  color: #03045E;
  font-size: 36px;
  font-family: 'SentyVanilla', regular;
}

h4 {
  padding: 10px;
  color: #F5A623;
  font-size: 27px;
  font-family: 'SentyVanilla', regular;
}
h5 {
  padding: 9px;
  color: #4C745D;
  font-size: 20px;
  font-weight: bold;
  font-family: 'SentyVanilla', regular;
}
p {
  padding: 5px;
  color: #000000;
  font-size: 18px;
  font-family: 'Gen Jyuu Gothic', Regular;
  
}

p span{
  font-weight: bold;
  }

h6 {
  color: #4C745D;
  font-size: 16px;
  font-family: 'SentyVanilla', regular;
  display: inline-block;
  flex-wrap: wrap;
  text-align: left;
}


ul, li, ol {
  color: #000000;
  font-size: 18px;
  font-family: 'Gen Jyuu Gothic', Regular;
  margin-top: 6px;
}

.container{ 
    background-color: #FAF5E2;
}
/*pagetop*/

.pagetop {
  width: 45px;
  height: auto;
  right: 60px;
  bottom: 60px;
  display: block;
  position: fixed;
  box-sizing: border-box;
  border-radius: 50%;
  }

/* banner */

.banner {
  width: 100%;
  height: fit-content;
  position: relative;
  display: flex;
  box-sizing: border-box;
  justify-content: center; /* 水平置中 */
  align-items: center; /* 垂直置中 */
  text-align: center;
  line-height: 1;
}

/*partOne*/

.partOne {
    display: grid;
    grid-template-columns: 27% 27% 27% ;
    position: relative;
    box-sizing: border-box;
    flex-wrap: wrap;
    margin: auto;
    padding: 1%;
    justify-content: center;
    align-items: center;
}
.partOne .card{
    height: auto;
    width: fit-content;
    margin: 6%;
    background-color: #F5F1E4;
    position: relative;
    border-radius: 9px;
    box-shadow: 3px 6px 9px 2px #00000025;
    text-align: center;
}
.partOne .card:hover {
  background: rgba(255,255,255,60%);
  border: #F5A623 solid 3px ;
}

.partOne .card .img{
    max-width: 100%;
    height: auto;
    margin-top: 0px;
    margin-bottom: 1px;
}
.partOne .card h5{
  margin: auto;
}
.partOne .card p{
    /* margin: 15px;
    top: 10px; */
}


/*partTwo*/

.partTwo {
    width: 100%;
    height: fit-content;
    box-sizing: border-box;
    padding: 15px 10%;
    display: grid;
    grid-template-columns: 40% 40%;
    position: relative;	
    justify-content: space-around;
    background-color: rgba(245,166,35, 30%);
}
.partTwo .card{
    height: fit-content;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    padding: auto;
    border-radius: 9px;
    list-style-type: none;
    justify-content: center;
    
}

.partTwo .card img{
  border-radius: 9px;
}
.partTwo .card h6{
  flex-wrap: wrap;
  display: inline-block;
  margin: 0%;
}


/*partThree*/    
    
.partThree {
    width: 90%;
    height: fit-content;
    box-sizing: border-box;
    padding: 15px 10%;
    display: grid;
    grid-template-columns: 40% 40%;
    justify-content: center;
    align-items: center;
}
.partThree .img{
    width: 100%;
    position: relative; 
    margin: auto;
    border-radius: 30px;
    box-shadow: 3px 3px 3px 3px #00000025;
}
.partThree .txt{ 
    height: auto;
    width: 100%;
    position: relative;
    margin-left: 6%;
}
.partThree button{
  margin-top: 6%;
}
/* partFour */
  
.partFour {
    height: auto;
    width: 75%;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 45% 45%;
    margin: auto;
    padding: 15px;
    position: relative;
    justify-content: center;
  }
.partFour .left{
    position: relative; 
    display: flex;     
    flex-wrap: wrap;
    justify-content: center;    
    align-content: center; 
  }
  
.partFour .right{
    position: relative; 
    display: flex;     
    flex-wrap: wrap;
    justify-content: center;    
    align-content: center; 
}
.partFour img{
  border-radius: 18px;
  position: relative; 
  margin: 15px;
}
.partFour .card {
  width: 90%;
  height: auto;
  margin: 15px 50px;
  padding: 10px;
  background-color: rgba(76,116,93, 30%);
  border: #4C745D solid 3px;
  border-radius: 24px;
}
.partFour .card:hover{
  background-color: rgba(245,166,35, 30%);
  border: #F5A623 solid 3px;
}

/*頁尾*/
footer {
  height: fit-content;
  width: 100%;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 1%;
  position: relative;
  justify-content: center;
  background-color: #6B8EAE;
  border: #6B8EAE 6px solid;
  text-align: left;
}

footer .card {
  height: auto;
  width: 100%;
  position: relative;
  margin-left: -10%;
  padding: 5%;
}

footer strong{
  color: #03045E;
  font-size: 20px;
  font-weight: bold;
  font-family: 'Gen Jyuu Gothic', Regular;
  position: relative;
  text-align: left;
  line-height: 2.5;
}

footer .icon{
  position: relative; 
  width: 60% ;
  height: auto;
  display: flex;	
  flex-wrap: wrap;
  justify-content: space-around;
  margin-left: 9px;
}

footer .icon a{
  width: auto; 
  height: 45px;
}


footer a {
    text-decoration: none;
}
footer a:link {
    color: #fff;
}

footer a:hover {
    color: #F5A623; 
}

footer a:active {
    color: #03045E;
}

/*footer表單*/

.EndTable input[type="email"]{
  width: 50%;
  height: auto;
  padding: 5px;
  border-radius: 33px;
  background-color: rgba(255,255,255,30%);
  box-sizing: border-box;
  outline: none;
  font-size: 1em;
}

.EndTable input[type="email"]:focus {
  background-color: #F5F1E4;
  border: 1px solid #ffa700;
}

.EndTable input[type="email"] {
    border: none;
  }

  /*footer表單按鈕*/
  .EndTable .Btns {
    text-align: center;
    position: relative;
  }
  .EndTable .Btns input {
    border: none;
    border-radius: 33px;
    font-size: 1em;
    color: #fff;
    margin: auto 15px;
    padding: 10px;
  }
  .EndTable .Btns input[type="submit"] {
    background: #F5A623;
    width: 90%;
  }

  /*footer滑鼠移到送出鈕*/
  .EndTable .Btns input:hover {
    opacity: 0.7;
  }
 

/*footer滑鼠*/
label,
input,
textarea,
select {
  cursor: pointer;
}
/* RWD */

[class*="col-"]{
    box-sizing: border-box;
    padding:0 10px;
}
.col-1 {width: 8.3%; }
.col-2 {width: 16.6%; }
.col-3 {width: 25%; }
.col-4 {width: 33.3%; }
.col-5 {width: 41.6%; }
.col-6 {width: 50%; }
.col-7 {width: 58.3%; }
.col-8 {width: 66.6%; }
.col-9 {width: 75%; }
.col-10 {width: 83.3%; }
.col-11 {width: 91.6%; }
.col-12 {width: 100%; }

@media screen and (min-width: 768px){
    .col-md-1 {width: 8.3%; }
    .col-md-2 {width: 16.6%; }
    .col-md-3 {width: 25%; }
    .col-md-4 {width: 33.3%; }
    .col-md-5 {width: 41.6%; }
    .col-md-6 {width: 50%; }
    .col-md-7 {width: 58.3%; }
    .col-md-8 {width: 66.6%; }
    .col-md-9 {width: 75%; }
    .col-md-10 {width: 83.3%; }
    .col-md-11 {width: 91.6%; }
    .col-md-12 {width: 100%;  }
}

@media screen and (min-width: 1024px){
    .col-lg-1 {width: 8.3%; }
    .col-lg-2 {width: 16.6%; }
    .col-lg-3 {width: 25%; }
    .col-lg-4 {width: 33.3%; }
    .col-lg-5 {width: 41.6%; }
    .col-lg-6 {width: 50%; }
    .col-lg-7 {width: 58.3%; }
    .col-lg-8 {width: 66.6%; }
    .col-lg-9 {width: 75%; }
    .col-lg-10 {width: 83.3%; }
    .col-lg-11 {width: 91.6%; }
    .col-lg-12 {width: 100%;  }
}

@media screen and (min-width: 1200px){
    .col-xl-1 {width: 8.3%; }
    .col-xl-2 {width: 16.6%; }
    .col-xl-3 {width: 25%; }
    .col-xl-4 {width: 33.3%; }
    .col-xl-5 {width: 41.6%; }
    .col-xl-6 {width: 50%; }
    .col-xl-7 {width: 58.3%; }
    .col-xl-8 {width: 66.6%; }
    .col-xl-9 {width: 75%; }
    .col-xl-10 {width: 83.3%; }
    .col-xl-11 {width: 91.6%; }
    .col-xl-12 {width: 100%;  }
}
