@charset "utf-8";


/*背景*/
body {
  background: #73A2A5;
}

/*圖片*/
img {
  max-width: 100%;
  height: auto;
}

/*按鈕*/
button {
  color: #fff;
  background-color: #6B8EAE;
  border: none;
  text-align: center;
  padding: 9px 6em;
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 9px;
}
button:hover {
  color: black;
  background-color: #F5A623;
  
}

a {
    text-decoration: none;
}
a:link {
    color: #F5A623;
}

a:hover {
    color: #564032; 
}

a:active {
    color: #564032;
}
a:visited {
    color: #F5A623;
}

@font-face {
  font-family: 'SentyVanilla';
  src: 
         url('./SentyVanilla.ttf') format("truetype"),
}

/*標題&文字設定*/

body h2,h3,h4{
   width: cover;
   position: relative;
   text-align: center;
}

h1{
  margin: 40px auto;
  padding: 30px;
  color: #fff;
  font-size: 64px;
  text-align: center;
  line-height: 1.5;
  font-family: 'SentyVanilla', regular;
}
h2 {
  margin: auto;
  padding: 30px;
  color: #564032;
  font-size: 48px;
  text-align: center;
  line-height: 1;
  font-family: 'SentyVanilla', regular;
}

h3 {
  padding: 10px;
  color: #03045E;
  font-size: 36px;
  font-family: 'SentyVanilla', regular;
}

h4 {
  padding: 10px;
  color: #F5A623;
  font-size: 27px;
  font-family: 'SentyVanilla', regular;
}
h5 {
  padding: 9px;
  color: #4C745D;
  font-size: 20px;
  font-weight: bold;
  font-family: 'SentyVanilla', regular;
}
p {
  padding: 5px;
  color: #000000;
  font-size: 18px;
  font-family: 'Gen Jyuu Gothic', Regular;
  
}

p span{
  font-weight: bold;
  }

h6 {
  color: #4C745D;
  font-size: 16px;
  font-family: 'SentyVanilla', regular;
}

ul, li, ol {
  color: #000000;
  font-size: 18px;
  font-family: 'Gen Jyuu Gothic', Regular;
  margin-top: 6px;
}

/* header */

.main-header{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: white;
    font-family: 'Gen Jyuu Gothic', Regular;
    -webkit-text-stroke: #6B8EAE 0.3px;
}
.logo img{
    display: block;
    background-color: white;
}

/* checkbox */
.menu-switch{
    display: none;
}

@media screen and (max-width: 768px) {
    .hb{
        position: relative;
        display: block;
        width: 45px;
        height: 45px;
        border: rgba(0, 0, 0, 0.540) solid 3px;
        border-radius: 6px;
        background-color: transparent;
    }
    .hb .bar{
        display: block;
        width: 75%;
        height: 3px;
        position: relative;
        margin: 0% auto;
        
        background-color: #F5A623;
    }
    .bar1 {
        top: 12px;
    }
    .bar2 {
        top: 18px;
    }
    .bar3{
        top: 25px;
    }
    .main-menu{
        position: absolute;
        /* display: none; */
        top: 100%;
        left: -100%;
        background-color: #fff;
        width: 60%;
        height: calc(100svh - 60px);
        transition: left .6s;
    }
    .main-menu ul li ~ li{
        border-top: 1px solid #F5A623;
    }
    .main-menu ul li a{
        display: block;
        text-decoration: none;
        padding: 10px;
        font-size: 18px;
        color: #6B8EAE;
        background-color: white;
    }
    .main-header:has(.menu-switch:checked) .main-menu{
            left: 0px;
            z-index: 1;
    }
}
@media screen and (width >= 768px) {
    .main-menu > ul{
        display: flex;
        list-style: none;
    }
    .main-menu a{
        color: #6B8EAE;
        text-decoration: none;
        display: block;
        padding: 10px 1em;
        background-color: white;
    }
}

/* main */

.main {
  
  display:flex;
  background-image: url(./img/index/bg4.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

/* left */

 .left{
  height: 100%;
  position: relative;
  background-color: #4C745D;
  margin-left: 0%;
  padding: 10px;
}

.left .card{
    width: cover;
    height: 30%;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    margin-bottom: 10px;
    padding: 5px;
    justify-content: space-around;
}
.left img{
  width: 30%;
  height: auto;
  position: relative;
  opacity: 60%;
}
.left .card button{
  /* position: relative; */
}
.left img:hover {
  border: #F5A623 solid 3px;
  opacity: 100%;
}

/*捐款單*/
#right {
  height: 87%;
  width: cover;
  position: relative;
  margin: 15px ;
  margin-left: 15%;
  padding: 3%;
  background-color: rgba(255,255,255,60%);
}

/*捐款按鈕*/
.donateBtns {
  width: cover;
  position: relative;	
  display:flex;
  justify-content: space-around;
  top: 12px;
}

.donateBtns input {
  width: 60%;
  color: #fff;
  border: #F2A8A5 solid 3px;
  background-color: #F2A8A5;
  text-align: center;
  margin: 0% 20%;
  padding: 9px 3em;
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  border-radius: 9px;
  -webkit-appearance: none;
}

.donateBtns input[type="reset"] {
  background-color: transparent;
  color: rgba(0, 0, 0, 0.480);
}

.donateBtns input:hover {
  color: #03045E;
  background-color: #F5A623;
  border: #F5A623 solid 3px;
}


/*頁尾*/
footer {
  height: 540px;
  box-sizing: border-box;
  display: flex;
  margin: auto;
  padding: 30px;
  position: relative;
  justify-content: center;
  align-items: center;
  background-color: #6B8EAE;
  text-align: left;
}

footer .card {
  height: auto;
  margin: 15px;
  position: relative;
  padding: 0;
  border: #ccc 2px solid;
}

footer strong{
  color: #03045E;
  font-size: 20px;
  font-weight: bold;
  font-family: 'Gen Jyuu Gothic', Regular;
  position: relative;
  text-align: left;
  line-height: 2.5;
}

footer .icon{
  position: relative; 
  width: 270px ;
  display: flex;	
  justify-content: space-around;
}

footer .icon a{
  width: auto; 
  height: 45px;
}


footer a {
    text-decoration: none;
}
footer a:link {
    color: #fff;
}

footer a:hover {
    color: #F5A623; 
}

footer a:active {
    color: #03045E;
}

/*footer表單*/

.EndTable input[type="email"]{
  width: 50%;
  height: auto;
  padding: 5px;
  border-radius: 33px;
  background-color: rgba(255,255,255,30%);
  box-sizing: border-box;
  outline: none;
  font-size: 1em;
}

.EndTable input[type="email"]:focus {
  background-color: #F5F1E4;
  border: 1px solid #ffa700;
}

.EndTable input[type="email"] {
    border: none;
  }

  /*footer表單按鈕*/
  .EndTable .Btns {
    text-align: center;
    position: relative;
  }
  .EndTable .Btns input {
    border: none;
    border-radius: 33px;
    font-size: 1em;
    color: #fff;
    margin: auto 15px;
    padding: 10px;
  }
  .EndTable .Btns input[type="submit"] {
    background: #F5A623;
    width: 90%;
  }

  /*footer滑鼠移到送出鈕*/
  .EndTable .Btns input:hover {
    opacity: 0.6;
  }
    
/*pagetop*/

.pagetop {
  width: 45px;
  height: auto;
  right: 60px;
  bottom: 60px;
  display: block;
  position: fixed;
  box-sizing: border-box;
  border-radius: 50%;
  }

/*表格設定*/
.donateTable {
  width: 100%;
  margin: auto;
  border: 1.5px solid #F5A623;
  border-collapse: collapse;
  font-family: 'Gen Jyuu Gothic', Regular;
}
.donateTable tr{
  margin: 9% auto;
}
  
.donateTable th,
.donateTable td {
  padding: 1%;
  border: rgba(0, 0, 0, 0.180) 1px solid;
}
.donateTable th {
  width: 10em;
  background-color: #FAF5E2;
  text-align: center;
}
.donateTable caption {
  margin-bottom: 9px;
}

.donateTable:hover{
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  background-color: rgba(255,255,255,60%);
}

/*輸入表單*/

.donateTable input ,
.donateTable textarea{
  border: 1px solid #ccc;
}

.donateTable input[type="text"],
.donateTable input[type="email"],
.donateTable textarea {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  font-size: 1em;
}
.donateTable input[type="text"]:focus,
.donateTable input[type="email"]:focus,
.donateTable input[type="tel"]:focus,
.donateTable input[type="radio"]:focus,
.donateTable input[type="number"]:focus,
.donateTable textarea:focus {
  background-color: #FAF5E2;
  outline: none;
}

/*滑鼠*/
label,
input,
textarea,
select {
  cursor: pointer;
}





